*{
    outline: none;
    padding: 0;
}
header{
    height: 130px;
}
.header-transparent{
    width: 100%;
    position: absolute;
}
.site-header{
    z-index: 9999;
}
.site-header .container{
    position: relative;

}
.logo-header{
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    color: #EFBB20;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 170px;
    height: 130px;
    position: relative;
    z-index: 9;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.logo-header a{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    outline: none;
    color: #f55f8d;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.site-header .extra-nav {
    float: right;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
    margin-left: 20px;
    height: 130px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.gradient {
    background-image: var(--gradient);
    background-size: 200%;
    border-color: transparent !important;
    transition: all 0.5s;
}
.btn {
    padding: 20px 35px;
    display: inline-block;
    border-radius: 0.25rem;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}
.btn-primary {
    border-color: var(--primary);
    background-color: var(--primary);
}
.rounded-xl {
    border-radius: 30px !important;
}
.extra-nav .extra-cell a{
    text-decoration: none;
    outline: none;
    color: white;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
:root {
    --primary: #f55f8d;
    --gradient: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    --gradientY: linear-gradient(to top,#f55f8d 0,#f8ae56 100%,#f55f8d 100%);
    --gradient-sec: linear-gradient(to right,#0e1b1f 0,#092933 51%,#0e1b1f 100%);
    --primary-hover: #dd3e6e;
    --primary-dark: #7b1534;
    --rgba-primary-05: rgba(245, 95, 141, 0.05);
    --rgba-primary-1: rgba(245, 95, 141, 0.1);
    --rgba-primary-2: rgba(245, 95, 141, 0.2);
    --rgba-primary-3: rgba(245, 95, 141, 0.3);
    --rgba-primary-4: rgba(245, 95, 141, 0.4);
    --rgba-primary-5: rgba(245, 95, 141, 0.5);
    --rgba-primary-6: rgba(245, 95, 141, 0.6);
    --rgba-primary-7: rgba(245, 95, 141, 0.7);
    --rgba-primary-8: rgba(245, 95, 141, 0.8);
    --rgba-primary-9: rgba(245, 95, 141, 0.9);
}
.header-nav .nav {
    float: right;
    padding: 0;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.header-nav .nav > li {
    margin: 0px;
    font-weight: 400;
    position: relative;
}

li {
    list-style: none;
}
.text-black .nav > li > a {
    color: #070120;
}
.header-nav .nav > li > a {
    color: #070120;
    font-size: 15px;
    padding: 55px 15px;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    position: relative;
    border-width: 0 0 0 1px;
    text-transform: capitalize;
    line-height: 1.35;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.header-nav .nav > li .sub-menu {
    background-color: #fff;
    display: block;
    left: 0;
    list-style: none;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    visibility: hidden;
    width: 220px;
    z-index: 10;
    margin-top: 20px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.header-nav .nav > li .sub-menu li {
    position: relative;
    list-style: none;
}
.bg-white {
    background-color: #fff !important;
}
.banner-two {
    height: auto;
    position: relative;
    overflow: hidden;
}
.banner-two .banner-inner {
    z-index: 99;
    position: relative;
    padding-top: 180px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.banner-two .banner-content .sub-title {
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 20px;
    color: var(--primary) !important;
}
.banner-content .m-b20 {
    margin-bottom: 20px;
}
.banner-two .banner-content h1 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
}
.banner-two .banner-content p {
    font-size: 18px;
}
ul.list-check-2 li {
    padding: 10px 5px 10px 48px;
    font-size: 20px;
}
.gradient {
    background-image: var(--gradient);
}
.banner-two .banner-media {
    width: 570px;
    position: relative;
    margin-left: 50px;
}
.banner-two .banner-media img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.banner-two .banner-media .move-2 {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: move2 5s infinite;
    animation: move2 5s infinite;
}
.banner-two .banner-media .move-2 img {
    transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
ul.list-check-2 li:before {
    content: "\f00c";
    font-size: 24px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: var(--gradient);
    background-size: 200%;
    font-family: 'Line Awesome Free';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.content-inner-2{
    margin-top: 80px;
}
.banner-content ul span{
    padding-left: 15px;
}
.banner-inner .banner-media .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
.icon-bx-wraper.style-7 {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0);
    padding: 30px;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}
.section-head.style-1 h2.title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
}
.section-head {
    margin-bottom: 40px;
}
.section-head .text-center{
    text-align: center !important;
}
.section-head.style-1 .sub-title {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: var(--primary) !important;
    margin-bottom: 0px;
}
.icon-bx-wraper.style-7 .icon-content .dlab-title {
    margin-bottom: 15px;
    margin-top: 15px;
}
.icon-bx-wraper p:last-child {
    margin: 0;
}
.about-wraper-1 .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.about-wraper-1 .dz-media.left {
    float: right;
    margin: 60px 70px 60px 0;
}
.about-wraper-1 .dz-media.left img {
    border-radius: 0 100px 100px 0;
    border-style: none;
    height: auto;
    vertical-align: middle;
}
.about-wraper-1 .dz-media img {
    width: 959px;
    height: 639px;
}

.about-wraper-1 .dz-media:after {
    content: "";
    height: 100%;
    background: #fef2f6;
    position: absolute;
    top: 0;
    width: 50vw;
    z-index: -1;
}
.about-wraper-1 .section-head {
    margin-bottom: 15px;
}
.section-head.style-1 .sub-title {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: #777777;
    margin-bottom: 0px;
}
.section-head h2.title {
     font-size: 60px;
     line-height: 1.2;
     font-weight: 800;
 }
.section-head p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.about-wraper-1 .section-head {
    margin-bottom: 15px;
}
.section-head.style-1 .sub-title {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 0px;
}
.section-head.style-1 h2.title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
}
.section-head p {
    font-size: 15px;
    line-height: 25px;
}
.inner-list ul i{
    font-size: 24px;
    color: var(--primary);
}
.inner-list  li{
    padding-top: 15px;
}
.inner-list li span{
    padding-left: 10px;
}
.content-inner{
    margin-top: 100px;
}
.dlab-content-bx.style-3 .icon-bx-sm {
    background-image: var(--gradient);
    background-size: 200%;
    margin-bottom: 15px;
    color: #fff;
}
.icon-content {
     overflow: hidden;
 }
.dlab-content-bx.style-3 .icon-content h2 {
    font-size: 65px;
    font-weight: 800;
    line-height: 1;
    color: var(--primary) !important;
}

.dlab-content-bx.style-3 .icon-content .title {
    color: #262626;
    font-size: 18px;
}
.dlab-content-bx .icon-bx-sm {
    background-image: var(--gradient);
    background-size: 200%;
    margin-bottom: 15px;
    color: #fff;
    border-radius: 100%;
}
.icon-bx-sm {
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    line-height: 80px;
}
.icon-bx-sm i {
    font-size: 30px;
    vertical-align: middle;
}
.dlab-content-bx.style-3 .icon-bx-sm i {
    font-size: 45px;
}
.content-inner-3 {
    margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 50px;
}
.icon-bx-wraper.style-3 {
    box-shadow: 0 0px 60px 0px rgb(0 0 0);
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
    overflow: hidden;
    z-index: 9;
    position: relative;
    width: 519px;
    height: 150px;
}
.icon-bx-wraper:hover{
    background: var(--gradient);
    color: white;
    transition: all 0.5s;
}
.icon-bx-wraper:hover .icon-bx-sm i,.icon-bx-wraper:hover .icon-content{
    color: #fff;
    transition: all 0.5s;
}
.icon-bx-sm {
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    float: left;
}

.icon-bx-wraper.style-3.left .icon-content {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 20px;
}

.icon-bx-wraper.style-3 .icon-content .dlab-title {
    font-weight: 800;
}
.icon-bx-wraper .icon-bx-sm i{
    font-size: 80px;
    vertical-align: middle;
    padding-top: 30px;
    padding-left: 20px ;
    color: var(--primary);
}
.wraper-left-2{
    margin-left: 60px;
}